.mainlogo {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

html {
  font-family: "Oxygen";
  margin-left: 5%;
  max-width: 700px;
}

@media only screen and (min-width: 800px) {
  html {
    margin-left: 15%;
  }
}

h1 {
  font-family: "Spectral";
  font-size: 60px;
  font-weight: 200;
}

html[data-theme="light"] {
  background-color: #fff;
  color: #121416d8;
}

a[data-theme="light"] {
  color: #543fd7;
}

html[data-theme="dark"] {
  background-color: #212a2e;
  color: #f7f8f8;
}

a[data-theme="dark"] {
  color: #828fff;
}

.switch {
  position: relative;
  float: right;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #828fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #828fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
